---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  href?: string;
  width?: number;
  height?: number;
  quality?: number;
  imageClass?: string;
}
const {
  image,
  href,
  width = 512,        // bigger intrinsic bitmap (crisper)
  height = 512,
  quality = 90,
  imageClass = "",
} = Astro.props;
---

{href ? (
  <a class="block no-underline text-center" href={href}>
    <Image
      class={`mx-auto ${imageClass}`}
      src={image}
      alt="profile picture"
      width={width}
      height={height}
      format="webp"
      quality={quality}
    />
    <div class="px-6 pb-10 prose prose-h1:text-xl">
      <slot />
    </div>
  </a>
) : (
  <div class="block no-underline text-center">
    <Image
      class={`mx-auto ${imageClass}`}
      src={image}
      alt="profile picture"
      width={width}
      height={height}
      format="webp"
      quality={quality}
    />
    <div class="px-6 pb-10 prose prose-h1:text-xl">
      <slot />
    </div>
  </div>
)}

