---
import Hero from "../components/Hero.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={`UCLA DataRes | ${frontmatter.title}`} desc={frontmatter.subtitle}>
  <Hero>
    <h1>{frontmatter.title}</h1>
    {frontmatter.subtitle ? <p>{frontmatter.subtitle}</p> : null}
  </Hero>
  <div class={`prose ${frontmatter.max_w} px-10 mx-auto my-10 ${frontmatter.centered ? "prose-headings:text-center" : ""}`}>
    <slot />
  </div>
</BaseLayout>
